@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    /* --primary-color: #3c32f0; */
    --primary-color:#A78BFA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    margin: 1em;
    margin-bottom: 0.5em;
}

#input-div {
    margin-top: 1em;
    font-size: larger;
    display: block;
}
label{
    display: block;
    margin: 1rem;

}
input {
    width: 15%;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5rem;
    border: 1.5px solid var(--primary-color);
}

#btn-check{
    width: 10%;;
    margin: 1em;
    padding: 0.7rem;
    background-color: var(--primary-color);
    border: none;
    color: #FFFFFF;
    border-radius: 0.5em;
    font-size: large;
    cursor: pointer;
}

#btn-check:hover {
    background-color: #7C3AED;
}

.msg {
    font-size: larger;
    padding: 1em;
}

#message {
    font-size: x-large;
    padding: 1em; 
}

#previous-palindrome-msg {
    margin-bottom: 10em;
}

.list-item-inline {
    display: inline-block;
}

.list-item-inline {
    display: inline-block;
}
.footer {
    background-color: var(--primary-blue);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-bottom: 1em;
}

.footer i {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem;
}

.footer i:hover {
    color: #7C3AED;
}